<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ assets('css/styles.css') }}">
</head>
<body>
{#{% include('snippets/header.twig') %}#}

{{ content }}

{#{% include('snippets/footer.twig') %}#}

<script src="{{ assets('js/scripts.js') }}"></script>
</body>
</html>