<!-- Page Header Section Start -->
<div class="page-header--section pd--70-0" data-bg-img="/img/themes/smm24/bg_header.jpg">
    <div class="container">
        <h1 class="title h1">{{ page.title }}</h1>
    </div>
</div>
<!-- Page Header Section End -->

<!-- Page Section Start -->
<div class="about--section pd--100-0-40 min-height__content">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
           <!-- Page Content Start -->
            <div class="about--content pbottom--60">
                <div class="body">
                    {{ page.content }}
                </div>
            </div>
            <!-- Page Content End -->
		  </div>
        </div>
    </div>
</div>
<!-- Page Section End -->