html, body{
    font-family: Raleway,sans-serif;
    background: #f9f9f9;
}

a:hover, a:focus{
    text-decoration: none;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

label{
    font-weight: 300;
}

.mt-3{
    margin-top: 30px;
}

.text-md-right{
    text-align: right;
}

/* Buttons */
.btn{
    border: none;
    padding: 0px 50px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    outline: none;
}
.btn-default{
    background: #fff;
    display: inline-block;
    color: #7a55f8;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    outline: none;
}
.btn-primary{
    background: #7a55f8;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    outline: none;
}
.btn-default:hover{
    background: #f9f9f9;
}
.btn-primary:hover{
    background: #8075f2;
    color: #fff;
}

.form-control{
    border: 1px solid #dbdbdb;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}

/* Main */

main{
    min-height: calc(100vh - 188px);
}

main div:first-child .block-features-shape{
    display: none;
}

/* Alert */
.alert{
    padding: 15px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    border-radius: 7px;
}
.alert-error{
    background: #d82e3b;
    color: #fff;
}
.alert-icon{
    margin-right: 8px;
    font-size: 19px;
}



/* Dropdown */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.dropdown-menu > li{
    outline: none;
}
.dropdown-menu > li > a{
    outline: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #7749f3!important;
}

/* Header */
.header{
    background: #7749f3;
    position: relative;
}
.header-shape{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-color: #fff;
    -webkit-mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
    mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
}

/* Navbar */
.navbar{
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 0px;
}
.navbar a{
    color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: none;
}

.navbar li a:hover, .navbar li a:focus{
    background: none;
    color: #e0e0e0;
}
.navbar-brand {
    padding: 15px 15px 15px 0px;
}
.navbar-brand__image{
    max-height: 50px;
}
.navbar-brand__image img{
    max-height: 50px;
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 200px;
}
.navbar-nav span{
    margin-right: 3px;
}
.navbar-cart-badge{
    position: absolute;
    background: #e84855;
    top: 6px;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    left: -2px;
    color: #fff;
    font-weight: 300;
    border-radius: 20px;
    padding: 0px 3px;
}
.navbar .dropdown-menu{
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
    border: none;
}
.navbar-toggle{
    margin-right: 0px;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.navbar-toggle-more{
    padding: 15px 5px;
}
.navbar-nav-more[aria-hidden="true"] {
    position: absolute;
    top: -9999em;
    right: 0;
    visibility: hidden;
}
.navbar-nav-more > a[aria-expanded="true"] + ul {
    display: block;
}
.navbar-collapse.in .dropdown-menu > li > a{
    color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:before {
    display: block;
    content: "\f0da";
    position: absolute;
    right: 10px;
    top: 3px;
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Blocks settings */
.block-shapes{
    background-position: center bottom;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    top: -100px;
    margin-top: 2px;
    left: 0;
    height: 100px;
}


/* Block Slider */
.block-slider{
    color: #fff;
    padding-bottom: 130px;
    padding-top: 100px;
}
.block-slider__title{
    font-size: 48px;
    font-weight: 900;
}
.block-slider__description{
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}
.block-slider__button-block{
    margin-top: 35px;
    margin-bottom: 15px;
}
.block-slider__button{
    background: #fff;
    display: inline-block;
    color: #7a55f8;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 8px;
    max-width: 300px;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    outline: none;
}
.block-slider__button:hover{
    background: #fbfbfb;
    color: #7a55f8;
}
.block-slider__image{
    text-align: center;
    padding-bottom: 15px;
}
.block-slider__image img{
    margin: 0 auto;
    max-height: 350px;
}
.block-slider__slide{
    outline: none;
}
.block-slider__wrapper .slick-dots{
    margin: 0px;
    padding-top: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.block-slider__wrapper .slick-dots li{
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    background: #9d79ff;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
}
.block-slider__wrapper .slick-dots .slick-active{
    background: #fff;
}
.block-slider__wrapper .slick-dots li button{
    opacity: 0;
}

/* Block Features */
.block-features{
    padding-top: 70px;
    padding-bottom: 120px;
    position: relative;
    background: #fff;
}
.block-features__title{
    font-size: 34px;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 54px;
}
.block-features__description{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #818181;
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 26px;
}
.block-features__card{
    background: #fff;
    border-radius: 18px;
    padding: 35px;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.block-features__card-image{
    margin-bottom: 15px;
}
.block-features__card-image img{
    margin: 0 auto;
}
.block-features__card-title{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 30px;
}
.block-features__card-description{
    font-size: 14px;
    color: #9794c9;
    line-height: 26px;
}
.block-features-shape{
    background-color: #fff;
    -webkit-mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
    mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
    -webkit-mask-size: 100%;
}

/* Block process */
.block-process{
    padding-top: 70px;
    padding-bottom: 120px;
    position: relative;
    background: #f3f3f3;
}
.block-process__title{
    font-size: 34px;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 54px;
}
.block-process__description{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #818181;
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 26px;
}
.block-process__card{
    border-radius: 18px;
    padding: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.block-process__card-image{
    margin-bottom: 15px;
}
.block-process__card-image img{
    margin: 0 auto;
}
.block-process__card-title{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 30px;
}
.block-process__card-description{
    font-size: 14px;
    color: #333;
    line-height: 26px;
}
.block-process-shape{
    background-color: #f3f3f3;
    -webkit-mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
    mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
}

/* Block process */
.block-reviews{
    padding-top: 70px;
    padding-bottom: 120px;
    position: relative;
    background: #fff;
}
.block-review__block{
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    padding: 15px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
}
.block-reviews__title{
    font-size: 34px;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 54px;
}
.block-reviews__description{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #818181;
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 26px;
}
.block-review__avatar-block{
    margin-bottom: 10px;
}
.block-review__avatar{

}
.block-review__avatar{
    width: 110px;
    height: 110px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    display: inline-block;
}
.block-review__name{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.block-review__text{
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px 5px;
    color: #818181;
    font-weight: 300;
}
.block-review__rating{
    margin-bottom: 10px;
}
.block-review__rating span{
    font-size: 20px;
    color: #7749f3
}
.block-review__block-slide{
    outline: none;
    padding: 15px;
}
.block-reviews__wrapper .slick-dots{
    margin: 0px;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.block-reviews__wrapper .slick-dots li{
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    background: #e6e6e6;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
}
.block-reviews__wrapper .slick-dots .slick-active{
    background: #7749f3;
}
.block-reviews__wrapper .slick-dots li button{
    opacity: 0;
}
.block-reviews-shape{
    background-color: #fff;
    -webkit-mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
    mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
}

/* Block products */
.block-products{
    padding-top: 70px;
    padding-bottom: 120px;
    position: relative;
    background: rgb(249, 249, 249);
}
.block-products__title{
    font-size: 34px;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 54px;
}
.block-products__description{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 26px;
    color: #818181;
}
.block-products__card{
    background: #fff;
    color: #818181;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.block-products__card-header{
    background: #7749f3;
    color: #fff;
    padding: 20px 30px 60px 30px;
    text-align: center;
    font-size: 21px;
    min-height: 100px;
    font-weight: 600;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}
.block-products__card-header-shape{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-color: #fff;
    -webkit-mask-size: 120% 59%;
    -webkit-mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
    mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
}
.block-products__card-body{
    padding: 15px;
}
.block-products__card-properties{
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #9794c9;
    line-height: 28px;
    font-size: 15px;
}
.block-products__card-properties li{
    list-style: none;
}
.block-products__card-price{
    font-size: 42px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    color: #333;
}
.block-products__card-footer{
    padding-top: 15px;
    padding-bottom: 30px;
}
.block-products__card-button{
    background: #7749f3;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 35px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins,sans-serif
}
.best-product{
    position: absolute;
    padding: 2px 10px;
    background: #ffffff;
    display: block;
    z-index: 3;
    right: 21px;
    top: -6px;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    border-radius: 5px;
    color: #7749f3;
}
.block-products__card-button:hover {
    background: #8075f2;
    color: #fff;
}
.block-products-shape{
    background-color: #f9f9f9;
    -webkit-mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
    mask: url('/img/themes/store_classic/shape9.svg') repeat-x center bottom;
}

/* Order page */
.order-page{
    padding-top: 30px;
    padding-bottom: 50px;
}
.order-page__title{
    font-weight: bold;
    padding-bottom: 15px;
}
.order-page__block{
    padding: 15px;
    margin-bottom: 30px;
    background: #fff;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    border-radius: 15px;
    min-height: 102px;
}
.order-page__block table{
    margin-bottom: 0px;
}
.order-page__block .table td{
    border-top: 0px;
}
.order-page__block .table tbody tr td:first-child{
    font-weight: bold;
}
.order-page__detail-title{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
}

/* Contact page */
.contact-page{
    padding-top: 30px;
    padding-bottom: 50px;
}
.contact-page__title{
    font-weight: bold;
    padding-bottom: 15px;
}
.contact-page__form{
    padding: 25px;
    background: #fff;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    border-radius: 15px;
}

/* Product Page */
.product-page{
    padding-top: 30px;
    padding-bottom: 50px;
}
.product-page__title{
    font-weight: bold;
    padding-bottom: 30px;
}
.product-page__content{
    padding: 15px;
    margin-bottom: 30px;
    background: #fff;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    border-radius: 15px;
}
.product-page__packages{
    margin-left: -15px;
    margin-right: -15px;
}

/* Payment result page */
.payment-result-page{
    padding-top: 30px;
    padding-bottom: 50px;
}
.payment-result-page__block{
    padding: 15px;
    margin-bottom: 30px;
    background: #fff;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    border-radius: 15px;
    float: left;
    width: 100%;
}
.payment-result-page__block-title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.payment-result-page__block-icon{
    margin-right: 15px;
    font-size: 100px;
    line-height: 100px;
    min-width: 125px;
    text-align: center;
}

/* 404 Page */
.page-404{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.page-404__block{
    text-align: center;
}
.page-404__block-title{
    font-size: 40px;
    padding: 15px;
    font-weight: 300;
}

/* Content page */
.content-page{
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Order result page */
.order_result-page{
    padding-top: 30px;
    padding-bottom: 50px;
}
.order_result-page__title{
    font-weight: bold;
    padding-bottom: 15px;
}
.order_result-page__block{
    background: #fff;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.order_result-page__block .table{
    margin-bottom: 0px;
}
.order_result-page__block thead tr th{
    padding: 15px 15px;
    border-bottom: 1px solid #f9f9f9;
}
.order_result-page__block tbody tr td{
    padding: 15px 15px;
    border-top: none;
}
.order_result-page__customer{
    text-align: right;
    font-size: 16px;
    color: #9e9e9e;
    padding: 30px 0px;
}

/* Cart page */
.cart-page{
    padding-top: 30px;
    padding-bottom: 50px;
}
.cart-page__table{
    background: #fff;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.cart-page__table .table{
    margin-bottom: 0px;
}
.cart-page__title{
    font-weight: bold;
    padding-bottom: 15px;
}
.cart-page__table thead tr th{
    padding: 15px 15px;
    border-bottom: 1px solid #f9f9f9;
}
.cart-page__table tbody tr td{
    padding: 15px 15px;
    border-top: none;
}
.cart-page__table a{
    color: #7749f3;
}
.cart-page__table a:hover{
    color: #e84855;
}
.cart-page__subtitle{
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}
.cart-page__sub-block{
    background: #fff;
    -webkit-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 27px 0 rgba(0,0,0,.05);
    padding: 15px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.cart-page__sub-block .table{
    margin-bottom: 0px;
}
.cart-page__subcontent{
    padding: 15px 0px;
}
.cart-page__subcontent label{
    width: 100%;
}
.cart-page__subcontent .radio:last-child{
    margin-bottom: 0px;
}

/* Footer */
footer{
    background: #f7f7f7;
    padding: 20px 0px;
    color: #9794c9;
    font-weight: 500;
    font-size: 15px;
}
.footer-copyright{

}
.footer-menu{
    text-align: right;
}
.footer-menu ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.footer-menu ul li{
    list-style: none;
    display: inline-block;
}
.footer-menu ul li a{
    display: inline-block;
    padding-left: 10px;
    color: #9794c9;
    text-decoration: none;
    margin-left: 20px;
}

@media(min-width: 991px) {
    .bootstrap-column-clearfix .col-md-3:nth-child(4n+1) {
        clear: left
    }
    .bootstrap-column-clearfix .col-md-4:nth-child(3n+1) {
        clear: left
    }
    .bootstrap-column-clearfix .col-md-6:nth-child(2n+1) {
        clear: left
    }
}

@media(max-width: 991px){
    .text-md-right{
        text-align: left;
    }
    .row-inline__buttons{
        margin-bottom: 15px;
    }

    /* Vieworder */
    .order_result-page__customer{
        text-align: left;
    }
}

@media(max-width: 768px){
    .navbar-header{
        padding-bottom: 5px;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
        color: #fff!important;
    }
    /* Navbar */
    .navbar-cart-badge{
        top: -2px;
        left: 4px;
    }

    /* Block slider */
    .block-slider__title{
        font-size: 32px;
    }
    .block-slider__description{
        font-size: 14px;
    }
    .block-slider__button{
        max-width: 100%;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
    }
    /* Footer */
    .footer-menu{
        text-align: left;
        margin-top: 15px;
    }
    .footer-menu ul li{
        width: 100%;
    }
    .footer-menu ul li a{
        margin-left: 0px;
        padding-left: 0px;
    }

    /* Cart */
    .cart-page__table .table thead {
        display: none;
    }
    .cart-page__table .table tr {
        border-bottom: 2px solid #f9f9f9;
        display: block;
        margin-bottom: 10px;
    }
    .cart-page__table .table td {
        border-bottom: 1px solid #f9f9f9;
        display: block;
        text-align: right!important;
    }
    .cart-page__table .table td::before {
        content: attr(data-title);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .cart-page__table .table tbody tr:last-child {
        border-bottom: 0;
    }

    /* Vieworder */
    .order_result-page__block .table thead {
        display: none;
    }
    .order_result-page__block .table tr {
        border-bottom: 2px solid #f9f9f9;
        display: block;
        margin-bottom: 10px;
    }
    .order_result-page__block .table td {
        border-bottom: 1px solid #f9f9f9;
        display: block;
        text-align: right!important;
    }
    .order_result-page__block .table td::before {
        content: attr(data-title);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .order_result-page__block .table tbody tr:last-child {
        border-bottom: 0;
    }
    .order_result-page__title{
        padding-bottom: 0px;
    }
}