<section class="min-height">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template text-center">
                    <h1>{{ lang('404.title') }}</h1>
                    <div class="error-details">
                        {{ lang('404.description') }}
                    </div>
                    <div class="panel-body text-center">
                        <a href="/" class="btn btn-default">{{ lang('404.button.home_page') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>