<div class="modal fade" id="order-package-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog sommerce-modals__dialog" role="document">
        <div class="modal-content sommerce-modals__content">
            <div class="modal-body sommerce-modals__body">
                <div class="sommerce-modals__header">
                    <div class="sommerce-modals__header-title">Order details</div>
                    <div class="sommerce-modals__header-close" data-dismiss="modal" aria-label="Close">
                        <span class="sommerce-modals__order-icons-close"></span>
                    </div>
                </div>
                <div class="sommerce-modals__alert sommerce-modals__alert-danger">
                    <span>Please enter your link in format <strong>https://instagram.com/nickname</strong></span>
                </div>
                <div class="sommerce-modals__order-details">
                    <table class="sommerce-modals__order-table">
                        <tbody>
                        <tr>
                            <td class="sommerce-modals__order-name">Package:</td>
                            <td class="sommerce-modals__order-value">200 Instagram followers</td>
                        </tr>
                        <tr>
                            <td class="sommerce-modals__order-name">Price:</td>
                            <td class="sommerce-modals__order-value">$ 2.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="sommerce-modals__forms">
                    <div class="form-group sommerce-modals__form-group sommerce-modals__form-group-error">
                        <label for="link">Link</label>
                        <input type="text" class="form-control" id="link">
                    </div>
                    <div class="form-group sommerce-modals__form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                        <small class="form-text text-muted">You will be notified on this email address</small>
                    </div>
                </div>
                <div class="sommerce-modals__payments">
                    <div class="form-group">
                        <div class="sommerce-modals__payments-title">Payment methods</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_m" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">PayPal</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_m" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">2CheckOut</label>
                        </div>
                    </div>
                </div>
                <div class="sommerce-modals__actions">
                    <button class="btn btn-block sommerce-modals__btn-primary">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
