<div class="modal fade" id="order-package-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog sommerce-modals__dialog" role="document">
        <div class="modal-content sommerce-modals__content">
            <div class="modal-body sommerce-modals__body">
                <div class="sommerce-modals__header">
                    <div class="sommerce-modals__header-title">Order details</div>
                    <div class="sommerce-modals__header-close" data-dismiss="modal" aria-label="Close">
                        <span class="sommerce-modals__order-icons-close"></span>
                    </div>
                </div>
                <div class="sommerce-modals__alert sommerce-modals__alert-danger">
                    <span>Please enter your link in format <strong>https://instagram.com/nickname</strong></span>
                </div>
                <div class="sommerce-modals__order-details">
                    <table class="sommerce-modals__order-table">
                        <tbody>
                        <tr>
                            <td class="sommerce-modals__order-name">Package:</td>
                            <td class="sommerce-modals__order-value"><%= package_name %></td>
                        </tr>
                        <tr>
                            <td class="sommerce-modals__order-name">Price:</td>
                            <td class="sommerce-modals__order-value"><%= package_price %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <form action="<%= form_action_url %>">
                    <input type="hidden" name="OrderForm[package_id]" value="<%= package_id %>">
                    <div class="sommerce-modals__forms">
                        <div class="form-group sommerce-modals__form-group sommerce-modals__form-group-error">
                            <label for="link">Link</label>
                            <input type="text" class="form-control" id="link" name="OrderForm[link]">
                        </div>
                        <div class="form-group sommerce-modals__form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="OrderForm[email]">
                            <small class="form-text text-muted">You will be notified on this email address</small>
                        </div>
                    </div>
                    <% if (payment_methods) { %>
                        <% if (payment_methods.length > 1) { %>
                        <div class="sommerce-modals__payments">
                            <div class="form-group">
                                <div class="sommerce-modals__payments-title">Payment methods</div>
                                <% _.each(payment_methods, function(method) { %>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="OrderForm[method]"
                                           id="method-<%= method.id %>"
                                           <% if (method.id === payment_methods[0].id) { %> checked <% } %>
                                           value="<%= method.id %>">
                                    <label class="form-check-label" for="method-<%= method.id %>"><%= method.name %></label>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <% } else { %>
                        <input type="hidden" name="OrderForm[method]" value="<%= method.id %>">
                        <% }; %>
                    <% }; %>
                    <div class="sommerce-modals__actions">
                        <button type="submit" class="btn btn-block sommerce-modals__btn-primary">Proceed to Checkout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
