<section class="min-height">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-title">Title page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus animi autem delectus doloremque, fugit laborum maiores molestias mollitia natus nemo nesciunt non omnis possimus quam quas sequi tenetur voluptate.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda consequuntur corporis dicta dolore dolorum earum esse fugiat harum impedit laboriosam modi, numquam perspiciatis possimus quae quas similique! Perferendis, reiciendis?</p>
                </div>
            </div>
        </div>
    </div>
</section>