/dev/gateway/config/*
/dev/common/config/*
/dev/console/config/*
/dev/sommerce/config/*
/prod/gateway/config/*
/prod/common/config/*
/prod/console/config/*
/prod/sommerce/config/*
!*-local.php
!/dev/common/config/config.json
!.gitignore