<!-- 404 Section Start -->
<div id="f0f" class="pd--100-0">
    <div class="container">
        <div class="row">
            <div class="f0f--content text-center col-md-10 col-md-offset-1">
                <h1 class="h1">{{ lang('404.title') }}</h1>
                <p>{{ lang('404.description') }} <a href="/">{{ lang('404.button.home_page') }}</a></p>
            </div>

        </div>
    </div>
</div>
<!-- 404 Section End -->