.hidden {
    display: none;
}

.sommerce_dragtable .disabled-product-item {
    color: #b3b3b3;
}

/* Page /admin/products modal window */
.modal.add_product .empty-property-error {
    display: inline-block;
    margin-top: 6px;
}