<!-- Page Header Section Start -->
  <div id="pageHeader" class="pd--80-0" data-bg-img="/img/themes/green/header-bg.jpg">
      <div class="container">
          <!-- Page Header Title Start -->
          <div class="page-header--title pull-left {% if site.rtl %} page-header-rtl {% endif %}">
              <h1 class="h1">{{ page.title }}</h1>
          </div>
          <!-- Page Header Title End -->
      </div>
  </div>
  <!-- Page Header Section End -->

  <!-- Page Wrapper Section Start -->
  <div id="pageWrapper" class="pd--100-0-40 min-height__content">
      <div class="container">
          <!-- Page Content Start -->
          <div class="page--content clearfix {% if site.rtl %} rtl-content {% endif %}">
              {{ page.content }}
          </div>
          <!-- Page Content End -->
      </div>
  </div>
<!-- Page Wrapper Section End -->