.card-table {
  display: table;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.text-orange {
  color: #ff9800;
}

.admin-form-wrapper {
  max-width: 330px;
  margin: 0 auto;
}

.input-group {
  height: 38px;
}

table {
  margin-bottom: 0!important;
}

th {
  border: 0!important;
}

.table-border {
  border: 1px solid #eceeef;
}

.w-1 {
  width: 1% !important;
}

.modal-dialog {
  max-width: 800px;
}

.max-height-400 {
  max-height: 400px;
  overflow-y: auto;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/*
* Custom
 */
.th-link {
  position: relative;
  color: #333;
}

.th-link > a {
  color: #333;
  cursor: pointer;
}

.th-link .dropdown-menu > li > a {
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  padding: 3px 20px;
  white-space: nowrap;
}

.th-link .dropdown-menu > li.active > a {
  font-weight: bold;
}

.th-link .dropdown-toggle {
  white-space: nowrap;
}

.pagination > li {
  display: inline;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #337ab7;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #23527c;
  z-index: 2;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
  cursor: default;
  z-index: 3;
}

.pager {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.confirm-modal .modal-dialog {
  max-width: 400px;
}

.message {
  border-radius: 5px;
  padding: 10px 15px;
}

.support .message {
  background: #e8e8e8;
}

.user .message {
  background: #D3D3D3;
}

.info {
  font-size: 13px;
  margin-top: 5px;
}

.author {
  font-weight: bold;
}

.time {
  color: #ABABAB;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-b {
  margin-bottom: 15px !important;
}

.container-title {
  padding: 25px 0;
}

.tablesorter-bootstrap thead,
.tablesorter-bootstrap th {
  background-color: transparent !important;
}

.break-all-words {
  word-break: break-all;
}

.dropdown-menu__right{
  left: auto!important;
  right: 0px!important;
  transform: translate3d(1px, 4px, 0px)!important;
}

.break-all {
  word-break: break-all;
}

.checkbox-inline {
  margin-right: 10px;
}

.login-key-link, .login-key-link:hover, .login-key-link:active {
  color: #292b2c;
}