<!-- 404 Section Start -->
<div class="f0f--section">
    <div class="container">
        <!-- 404 Content Start -->
        <div class="f0f--content pd--100-0">
            <div class="img">
                <img src="img/404.png" alt="">
            </div>

            <div class="title">
                <h1 class="h3">{{ lang('404.title') }}</h1>
            </div>

            <div class="action">
                <a href="/" class="btn btn-default"><i class="fa fa-home"></i>{{ lang('404.button.home_page') }}</a>
            </div>

        </div>
        <!-- 404 Content End -->
    </div>
</div>
<!-- 404 Section End -->