.dd-item {
    cursor: default!important;
}

.dd-handle-pay {
    height: 100%;
    position: absolute;
    cursor: grab;
    z-index: 99;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dd-handle-pay img {
    height: 22px;
}