.dd-item {
    cursor: default!important;
}

.dd-handle-pay {
    height: 100%;
    position: absolute;
    /*cursor: grab;*/
    z-index: 99;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    text-align: center;
    padding: 5px 0;
    margin-right: 5px;
    cursor: move;
}


.dd-handle-pay svg {
    height: 22px;
}