<!-- 404 Section Start -->
<div class="f0f--section pd--180-0-80">
    <div class="f0f--error pd--80-0">
        <div class="container">
            <p>{{ lang('404.title') }}</p>
        </div>
    </div>

    <div class="f0f--content">
        <div class="container">
            <div class="img">
                <img src="img/404.png" alt="">
            </div>

            <div class="title">
                <h1 class="h1">{{ language('404.title') }}</h1>
            </div>

            <div class="buttons">
                <a href="/" class="btn btn-default"><i class="fa fa-home"></i>{{ lang('404.button.home_page') }}</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 Section End -->