<!-- Page Header Section Start -->
<div class="page-header--section bg--color-theme pd--80-0">
    <div class="container">

        <div class="title">
            <h1 class="h1">{{ page.title }}</h1>
        </div>
    </div>
</div>
<!-- Page Header Section End -->

<!-- Page Section Start -->
<div class="about--section pd--100-0-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pbottom--60">
                <!-- Page Content Start -->
                <div class="about--content">
                    <div class="body">
                        {{ page.content }}
                    </div>
                </div>
                <!-- Page Content End -->
            </div>

        </div>
    </div>
</div>
<!-- Page Section End -->