
<div class="modal fade" id="modal-payment-awaiting" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog sommerce-modals__dialog" role="document">
        <div class="modal-content sommerce-modals__content">
            <div class="modal-body sommerce-modals__body">
                <div class="sommerce-modals__header">
                    <div class="sommerce-modals__header-title"></div>
                    <div class="sommerce-modals__header-close" data-dismiss="modal" aria-label="Close">
                        <span class="sommerce-modals__order-icons-close"></span>
                    </div>
                </div>

                <div class="sommerce-modals__order-header">
                    <div class="sommerce-modals__order-header-icon">
                        <div class="sommerce-modals__order-icons-awaiting"></div>
                    </div>
                    <div class="sommerce-modals__order-header-title">
                        Payment awaiting
                    </div>
                    <div class="sommerce-modals__order-header-description">
                        Your payment is being verified. You will be informed on your email.
                    </div>
                </div>
                <div class="sommerce-modals__actions text-center">
                    <button class="btn sommerce-modals__btn-default sommerce-modals__actions-btn-center" data-dismiss="modal">Ok, got it!</button>
                </div>
            </div>
        </div>
    </div>
</div>

