html,
body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	/* padding-top: 30px; */
}


#navbar-scrolling ul {
	width: 100%;
}


/* .login {
	position: relative;
	bottom: 5px;
} */

.arrow-new {
	position: relative;
	bottom: 2px;
}

.nav-scroll {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  padding-top: 0px;
  border-bottom: 1px solid #e5e5e9;
}

.nav {
	position: relative;
	top: 2px;
}

#footer .form-control {
	border: 0px;
}

#features img {
	width: 80px;
	height: 80px;
}

#pricing img {
	width: 72px;
	height: 72px;
}

#started .numbers,
.carousel-item img {
	width: 115px;
	height: 112px;
}

.arrow-right img {
	width: 31px;
	height: 31px;
}

Input::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #c1c0cc !important;
}

.footer-input:focus {
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-input:focus{
	box-shadow: 0 2px 4px 0 rgba(123, 98, 221, 0.1) !important;
	outline: none !important;
	border-color: #7765D6 !important;
}

a:hover {
	text-decoration: none !important;
}

button:focus {
    outline: none;
}

a:focus{
	outline: none;	
}

/* STYLE WITHOUT DEMO-BLOCK */
.gradient {
    padding-bottom: 40px;
}



/* @media (min-width: 768px) and (max-width: 1199px) {
	.provide-container {
		margin-bottom: 100px !important;
	}
}

@media (min-width: 1200px) {
	.provide-container {
		margin-bottom: 125px !important;
	}
} */
/* ********************* */

.sommerce-bolder {
	font-size: 32px;
	font-weight: bold;
	color: #312e55;
	line-height: 48px;
}

/* HEADER */
.h-bolder {
	font-size: 32px;
	font-weight: bold;
	line-height: 48px;
	color: white;
}

#header {
	background-image: url("https://perfectcdn.com/938a82d3-09c0-4514-a7e4-ede176be55db/Main2xmin2.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
}

.arrow-login {
	padding-left: 5px;
	/* padding-right: 30px; */
}

.login-links {
	margin-right: 30px;
}

.navbar {
	padding-top: 8px;
}

.login-link {
	font-size: 14px;
	color: #312e55;
	font-weight: 600;
	cursor: pointer;	
}

.navbar-toggler {
	display: block;
	background-image: url("https://perfectcdn.com/2e0c8bd3-6875-439f-bf5d-de4721575f93/close.svg");
	width: 40px;
	height: 40px;
	text-decoration: none;
	border: 0px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.navbar-collapse {
    padding-top: 10px;
    z-index: 2;
}

.navbar-toggler.collapsed {
	display: block;
	background-image: url("https://perfectcdn.com/e251c6d3-4523-4072-bd9f-cd7ff63ab03c/burgermenu.svg");
	width: 40px;
	height: 40px;
	text-decoration: none;
	border: 0px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.header-links {
	font-size: 14px;
    color: #6e6c88;
}

.header-links a{
    text-decoration: none;
}

.header-links a:hover{
    color: #8672ED;
}

.header-input {
	width: 212px;
	height: 48px;
	border-radius: 2px;
	margin-right: 10px;
	border-color: #BDBCC8;
}

.nav li {
	padding-right: 32px;
}

.navbar-brand {
	font-size: 24px;
	font-weight: bold;
	color: #312E55 !important;
	padding-right: 54px;
}

.notify-button {
	font-size: 14px;
	font-weight: 500;
	color: white;
}

.technology-driven {
	padding-top: 250px;
	padding-bottom: 300px;
}

.header-descr {
	width: 500px;
}

.interested {
	color: #7765d6;
	font-size: 14px;
  	font-weight: 500;
}

/* Why sommerce  */

#why {
	margin-bottom: 60px;
}

.why-sommerce {
	padding-top: 10px;
	width: 730px;
}

/* Features */

.feature-title {
	padding-top: 16px;
	line-height: 24px;
    padding-bottom: 8px;
	font-size: 16px;
	font-weight: bold;
	color: #312e55;
	margin-bottom: 0px;
}

.col-3 h4 {
	padding-top: 20px;
	padding-bottom: 5px;
}

/* Pricing */

#pricing {
	margin-top: 200px;
	background-image: linear-gradient(245deg, #ada0f8, #7765d6);
	/* url("../img/lp-sources/illustrations/demo.svg"); */
    position: relative;
    z-index:0;
}

.notify-me {
	width: 223px;
	height: 76px;
	border-radius: 2px;
	border: solid 2px #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71;
	color: white !important;
    cursor: pointer;
    text-decoration: none !important;
}

.price div {
	padding: 24px 12px 6px 12px;
}

/* .gradient {
	background-image: url("../img/lp-sources/illustrations/demo.svg");
	background-repeat: no-repeat;
	background-position: top 90px right 100px;
} */

.price-about {
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: normal;
	color: #ffcedb;
}

/* .demo-container {
        position: relative;
    } */

/* .corner-gradient {
        position: absolute;
        left: 420px;
        right: 5;
        bottom: 0;
        top: 640px;
    } */

.sommerce-demo {
	padding-top: 80px;
	padding-bottom: 160px;
}

.line {
	width: 100%;
	height: 1px;
	opacity: 0.1;
	background-color: #ffffff;
}

.price {
	position: relative;
	top: -60px;
	border-radius: 2px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
	background-color: #ff5c86;
}

.demo-text {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.71;
	letter-spacing: normal;
	color: #eae7fa;
	padding-top: 10px;
	padding-bottom: 20px;
}

.provide-text {
	font-family: Montserrat;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #eae7fa;
}

/* .provide-container {
	padding-top: 30px;
	margin-bottom: 70px;
} */

.demo-buttons button {
    margin-right: 20px;
	display: block;
	border-radius: 2px;
	border: solid 2px #ffffff;
	width: 160px;
	height: 48px;
}

.storefront-button {
    background-color: transparent;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	text-decoration: none !important;
    cursor: pointer;
    z-index:0;
}

.admin-button {
	border-radius: 1px;
	border: solid 2px #ffffff;
	background-color: #ffffff;  
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: normal;
	text-align: center;
	color: #7765d6;
	cursor: pointer;
    text-decoration: none !important;
    z-index: 0;
}

.corner {
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.corner-white {
	background-color: white;
	width: 100%;
}

/* Started */

#started {
	margin-top: 70px;
	margin-bottom: 120px;
}

#started p {
	text-align: center;
	position: relative;
	top: -30px;
}

.start-title {
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
}

.arrow-right {
	position: relative;
	top: 50px;
}

.hidden {
	display: none;
}

.carousel-control-next,
.carousel-control-prev {
	bottom: 80% !important;
}

/* FAQ */

#faq {
	margin-bottom: 150px;
}

.faq-container {
	width: 350px;
}

.faq-about {
	width: 240px;
}

#faq .feature-title {
	padding-top: 8px;
}

.hello-sommerce {
	position: relative;
}

.hello-faq-button:hover {
    color: #8672ED;
}

.arrow-hello {
	position: absolute;
    left: 200px;
    bottom: 20px;
}

a .hello {
	padding-bottom: 3px;
	padding-right: 5px;
	border-bottom: 1px solid #D6D0F2 !important;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #7765d6;
}

a:hover .hello {
	border-bottom: 1px solid #8672ED !important;
}

.hello-faq-button {
	border: 0px;
	outline: none;
	background-color: white;
	padding-left: 0px;
	cursor: pointer;
	border-bottom: 1px solid lightgrey !important;
	font-size: 16px;
}

.faq-container h1 {
	padding-bottom: 50px;
}

.toggle {
	border-bottom: 1px solid #DDDDE3;
	padding-bottom: 20px;
	padding-top: 20px;
}

.toggle .plus {
	display: block;
	background-image: url("https://perfectcdn.com/81a6e870-5d2a-4564-af36-75b79c8a3c74/minus.svg");
	width: 24px;
	height: 24px;
	text-decoration: none;
}

/* .collapsed {
         display: block;
        background-image: url("../img/lp-sources/ic-other/minus.svg");
        width: 24px;
        height: 24px;
        text-decoration: none;
    }  */
/* .toggle  {
          display: block;
        background-image: url("../img/lp-sources/ic-other/minus.svg");
        width: 24px;
        height: 24px;
        text-decoration: none;
    } */
/* .collapse div{
        padding-top: 5px;
        padding-bottom: 5px;
    } */
.collapse-container {
	padding-top: 10px;
	padding-bottom: 5px;
	width: 500px;
}
/* Footer */

#footer {
	background-color: #312e55;
}

.footer-logo {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: bold;
}

.footer-input {
	width: 402px;
	height: 48px;
	border-radius: 2px;
	margin-right: 10px;
	background-color: #ffffff;
}

.footer-button {
	padding-top: 10px;
	height: 48px;
	width: 160px;
	border-radius: 2px;
	color: white;
	background-color: #ff5c86;
	box-shadow: 0 2px 4px 0 rgba(255, 92, 134, 0.2);
}

.login-button {
	width: 130px;
	height: 38px;
	border: 0px;
	cursor: pointer;
    padding: 11px 23px 11px 23px;
}


.account-button {
	width: 230px;
}


.footer-links {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
    color: #6e6c88;
}

.footer-links a{
    text-decoration: none;
}

.footer-links a:hover,
form .footer-links:hover{
    color: #D5D4DC;
}

.arrow {
	height: 1px;
	background-color: #464366;
	margin-bottom: 18px;
}

.copy {
	padding-right: 10px;
}

.color-disabled,
.color-disabled a {
	color: #6e6c88;
}

.f-name li {
	margin-top: 5px;
}
.f-name {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: white;
}

ul li {
	padding-bottom: 10px;
}


#ready .d-flex {
	padding-left: 1px;
}

.ready-input div {
	padding-top: 10px;
	padding-bottom: 30px;
}

.footer-padding {
	padding-top: 70px;
	padding-bottom: 80px;
}

.mail {
	background-image: url("../images/big/mail.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 20px;
	padding-left: 0px;
}

.hello-button {
	border: 0px;
	outline: none;
	background-color: #312e55;
	padding-left: 0px;
	cursor: pointer;
}

.d-flex .collapsed .plus {
	display: block;
	background-image: url("https://perfectcdn.com/82502347-a400-4794-ad5b-da0316c2574a/plus.svg");
	width: 24px;
	height: 24px;
	text-decoration: none;
}

/* HOVER BUTTONS */

.footer-button:hover {
	background-color: #FF7498;
	box-shadow: 0 2px 4px 0 rgba(255, 92, 134, 0.2);
}

.notify-me:hover {
	background-color: white;
	color: #ff5c86 !important;
}


.footer-button:active,
.notify-me:active {
    background-color: #F64774;
}



/* MEDIA  */

@media screen and (max-width: 1440px) {
	.technology-driven {
		position: relative;
		top: -150px;
	}
}

@media screen and (max-width: 1200px) {
	.footer-input {
		width: 280px;
	}

	.collapse-container {
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.faq-container {
		width: 100%;
	}

	.faq-about {
		width: 100%;
	}

	.mail {
		background-position: 150% 20px;
	}

	.gradient {
		background-position: 100% 140px;
	}
	.provide-container .col-3 {
		margin-right: 19px;
	}
}

@media screen and (min-width: 992px) {
	.navbar-toggler.collapsed {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.navbar-collapse {
		padding-top: 0px;	
	}
}

@media screen and (max-width: 767px) {
	.hidden {
		display: block;
	}

	.why-sommerce {
		width: 100%;
	}

	/* .footer-padding {
		position: relative;
		top: -50px;
		padding-bottom: 200px;
	} */

	.mail {
		background-position: 50% 110%;
	}

	.footer-input {
		width: 100%;
	}

	.header-input {
		width: 100%;
	}

	#header .footer-button, #footer .footer-button {
		width: 100%;
	}

	.notify-me {
		width: 100%;
	}

	.price .d-flex:first-child {
		align-items: center;
		padding-bottom: 0px;
	}

	.corner-gradient img {
		max-width: 100%;
	}

	.demo-buttons button {
		width: 100%;
		margin-top: 20px;
	}

	.gradient {
		background-position: 50% 180% !important;
	}

	.provide-container .col-md-4 {
		padding-bottom: 20px;
	}

	.provide-container .col-md-4:last-child {
		padding-bottom: 0px;
	}

	.provide-container .col-3 {
		margin-right: 0px !important;
	}

	.header-descr {
		max-width: 100%;
	}

	.price div {
    padding: 24px 12px 30px 12px;
}

}

@media screen and (max-width: 350px) {
	.corner {
		display: none;
	}

	.provide-container .col-3 {
		margin-right: 19px !important;
	}
}

@media (min-width: 992px) and (max-width: 1440px) {
	#header {
		background-position: 100%;
    	background-size: 70%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#header {
		background-size: 80%;
   		background-position: 100% 100%;
	}


}


@media (max-width: 769px) {
	#header {
		background-position: right bottom;
		background-size: 90%;
	}
}

@media (min-width:400px) and (max-width: 600px) {
	.technology-driven {
		padding-bottom: 150px;
	}
}

@media (max-width: 399px) {
	.technology-driven {
		padding-bottom: 50px;
	}
}

#carouselExampleControls {
	display: none;
}

@media (max-width: 768px) {
	#carouselExampleControls {
		display: block;
	}

	.slick {
		display: none;
	}

	.mail {
		padding-right: 0px;
	}
	
}

@media (max-width: 425px) {
	.mail {
		background-position: 50% 100%;
	}
}

@media (min-width: 575px) {
	.navbar .container {
		padding-left: 15px !important;
	}
}

/* ANIMATION HOVERS IN DEMO  */

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}


.storefront-button::before,
.storefront-button::after {
  background-color: white;
  content: '';
  position: absolute;
  z-index: -1;
}

.admin-button::before,
.admin-button::after {
  background-color:#7765d6db;
  content: '';
  position: absolute;
  z-index: -1;
}


.storefront-button:hover {
  color: #7765d6;
}

.admin-button:hover {
    color: white;
}

.demo-buttons button {
    position: relative;
}
 

.storefront-button::after,
.admin-button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.storefront-button:hover:after,
.admin-button:hover:after {
  width: 100%;
}

/* ****************** */

/* MOBILE MENU RESPONSIVE */

@media screen and (max-width: 960px) {
	.nav {
		flex-direction: column
	}

	.li {
		flex-direction: column;
	}

	.arrow-login {
		display: none
	}

	.login {
		display: flex;
		flex-direction: column;
	}
	.login-button {
		width: 50% !important;
		text-align: center;
		align-self: center;
	}

	#navbar-scrolling {
	background-color: #ffffff;
	}
}


/* TERMS AND PRIVACY PAGES */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-honF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxrfB31yxOzP-czbf6AAKCVo.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxi8cqLH4MEiSE0ROcU-qHOA.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxlDMrAYtoOisqqMDW9M_Mqc.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8y3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12by3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v11/1ImRNPx4870-D9a1EBUdPC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v11/PKCRbVvRfd5n7BTjtGiFZC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 200;
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'), url(https://fonts.gstatic.com/s/raleway/v11/N2DIbZG4399cPGfifZUEQonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 300;
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url(https://fonts.gstatic.com/s/raleway/v11/TVSB8ogXDKMcnAAJ5CqrUonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url(https://fonts.gstatic.com/s/raleway/v11/S7vGLZZ40c85SJgiptJGV4nF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v11/OY22yoG8EJ3IN_muVWm29InF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v11/lFxvRPuGFG5ktd7P0WRwKonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 800;
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v11/us4LjTCmlYgh3W8CKujEJonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 900;
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), url(https://fonts.gstatic.com/s/raleway/v11/oY2RadnkHfshu5f0FLsgVYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

.terms-block {
    position: relative;
	padding: 50px 0px;
}

.terms-block p, .terms-block li{
	color: #7a7a7a;
}

.terms-block  .section-title {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 50px;
}

.terms-block .section-title h1, .terms-block .section-title h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #1a1a1a;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 36px;
}

.terms-block .section-title-white {
    color: #fff;
    border-bottom: none;
}

.terms-block .section-title-white h2 {
    color: #fff;
}

.terms-block .price-title-custom {
    margin-bottom: 30px;
}

.section-arrow:after {
    left: 50%;
    bottom: -50px;
    position: absolute;
    content: "";
    border: 25px solid;
    border-color: #FAFAFA transparent transparent transparent;
    display: block;
    margin-left: -13.5px;
    z-index: 3;
}
.block-page {
    padding-top: 40px;
    margin-top: 60px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.terms-block h1 {
    font-size: 36px;
}

.terms-block .terms-block-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.terms-block .terms-block-content b, .terms-block .terms-block-content strong {
    font-weight: 600;
}

.terms-block .terms-block-content ul {
    padding-left: 20px;
}

.terms-block .terms-block-content h1, .terms-block .terms-block-content h2, .terms-block .terms-block-content h3, .terms-block .terms-block-content h4, .terms-block .terms-block-content h5, .terms-block .terms-block-content h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #2d2d2d;
}

.navbar-term {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
	background-color: #ffffff;
	padding-top: 0px;
	border-bottom: 1px solid #e5e5e9;
}

.privacy-bold {
	font-size: 24px !important;
}


@media screen and (max-width: 960px) {
.login-term {
    display: flex;
    flex-direction: column;
    align-items: center;
}
