    html, body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;

    }

    #started p {
        text-align: center; 
        position: relative;
        top: -17px; 

    }

    .sommerce-bolder {
    font-size: 32px;
    font-weight: bold;
    color: #312e55;
    line-height: 1.5; 
    }

    /* HEADER */
    .h-bolder {
    font-size: 32px;
    font-weight: bold;
    color: white;
    }

    #header {
        background-image: url("../img/lp-sources/illustrations/main.svg");
        background-repeat: no-repeat;
        background-position: top right
    }

    .header-input {
    width: 212px;
    height: 48px;
    border-radius: 2px;
    margin-right: 10px;
    background-color: #ffffff;
    }


    .nav li {
        padding-right: 30px;
    }

    
    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color:#312e55;
        padding-right: 50px;
    }

    .notify-button {
    font-size: 14px;
    font-weight: 600;
    }

    .technology-driven {
        padding-top: 200px;
        padding-bottom: 300px;
    }

    .header-descr {
        width: 500px;
    }

    .interested {
        color: blue;
    }

    /* Why sommerce  */

    #why {
    margin-bottom: 60px;
    }

    .why-sommerce {
        width: 730px;
    }

    /* Features */

    .feature-title {
        font-size: 16px;
        font-weight: bold;
        color: #312e55;
    }

    .col-3 h4 {
        padding-top: 20px;
        padding-bottom: 5px;
    }


    /* Pricing */

    #pricing {
        margin-top: 200px;
        background-image: linear-gradient(245deg, #ada0f8, #7765d6), url("../img/lp-sources/illustrations/demo.svg");
        position: relative;
    }

    .notify-me {
    width: 223px;
    height: 76px;
    border-radius: 2px;
    border: solid 2px #ffffff;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: white !important;
    cursor: pointer
    }

    .price div {
        padding: 25px 10px 15px 10px;   
    }

    .gradient {
        background-image: url("../img/lp-sources/illustrations/demo.svg");
        background-repeat: no-repeat;
        background-position: top 90px right 100px;
    }

    .price-about {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffcedb;
    }

    /* .demo-container {
        position: relative;
    } */

    /* .corner-gradient {
        position: absolute;
        left: 420px;
        right: 5;
        bottom: 0;
        top: 640px;
    } */


    .sommerce-demo {
        padding-top: 80px;
        padding-bottom: 160px;
    }

    .line {
    width: 100%;
    height: 1px;
    opacity: 0.1;
    background-color: #ffffff;
    }

    .price {
    position:relative;
    top:-60px; 
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
    background-color: #ff5c86;
    }

    .demo-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: normal;
    color: #eae7fa;
    padding-top: 10px;
    padding-bottom: 20px;
    }
        
    .provide-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #eae7fa;
    }

    .provide-container {
        padding-top: 30px;  
        margin-bottom: 70px;
    }

    .demo-buttons a{
    border-radius: 2px;
    border: solid 2px #ffffff;
    padding: 13px 37px;
    margin-right: 25px;
    }

    .storefront-button {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none !important;
    cursor: pointer;
    }

    .admin-button { 
    border-radius: 1px;
    border: solid 2px #ffffff;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #7765d6;
    cursor: pointer;
    text-decoration: none !important;
    }

    .corner{
        display: flex;
        justify-content: space-between;
        position: absolute;
        /* width: 200px;
        height: 200px; */
        left: 0;
        bottom: 0;
        width: 100%;
        height: 86px;
 
    }

    .corner-white {
        background-color: white;
        /* height: 86px; */
        width: 100%;
    }


    /* Started */

    #started {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .start-title {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .arrow-right {
        position: relative;
        top: 50px;
    }

    /* FAQ */

    #faq {
        margin-bottom: 30px;
    }

    .faq-container {
        width: 350px;
    }

    .hello-sommerce {
        position: relative;
    }

    .arrow-hello {
        position: absolute;
        left: 210px;
    }

    .hello {
        padding-bottom: 3px;
        padding-right: 5px;
        border-bottom: 1px solid lightgrey !important;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #7765d6;
    }

    .hello-faq-button {
        border: 0px;
        outline: none;
        background-color: white;
        padding-left: 0px;
        cursor: pointer;
    }

    .faq-container h1 {
        padding-bottom: 50px;
    }

    .toggle {
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .toggle .plus {
        display: block;
        background-image: url("../img/lp-sources/ic-other/plus.svg");
        width: 24px;
        height: 24px;
        text-decoration: none;
    }

    /* .collapse div{
        padding-top: 5px;
        padding-bottom: 5px;
    } */
    .collapse-container {
       padding-top: 10px;
       padding-bottom: 5px;
       width: 500px;
    }
  /* Footer */

    #footer {
        background-color: #312e55;
    }

    .footer-logo{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    }

    .footer-input {
    width: 402px;
    height: 48px;
    border-radius: 2px;
    margin-right: 10px;
    background-color: #ffffff;
    }

    .footer-button {
    height: 48px;
    width: 126px;
    border-radius: 2px;
    color: white;
    background-color: #ff5c86;
    }

    .footer-links {
    font-family: Montserrat;
    font-size: 14px;
    color: #6e6c88;
    }

    .arrow {
    height: 1px;
    background-color: #6e6c88;
    }

    .color-disabled, 
    .color-disabled a  {
        color: #6e6c88;
    }

    .f-name li{
        margin-top: 5px;
    }
    .f-name {
        font-size: 16px;
        font-weight: bold;
        color: white;
    }

    ul li {
        padding-bottom: 10px;
    }

    .ready-input div{
        padding-top: 10px;
    }

    .new {
        padding-top: 80px;
        padding-bottom: 70px;
    }


    .mail {
        background-image: url("../img/lp-sources/illustrations/mail.svg");  
        background-repeat: no-repeat;
        background-position: top right;
    }

.hello-button {
    border: 0px;
    outline: none;
    background-color: #312e55;
    padding-left: 0px;
    cursor: pointer;
}
    /* f-top {
        height: 316px;
    }

    f-bottom {
        height: 288px;
    } */

    .new2 {
        text-decoration: none;
    }