<section class="border-bottom">
		<div class="container">
				<div class="row section-header">
						<div class="col-lg-12">
								<h2 class="text-center">What are the benefits of buying followers from us?</h2>
								<div class="section-description">
										Get Some Likes is a top provider of Facebook Likes. We sell Facebook likes and our packages range from 50 likes all the way to 5000 likes. We take great pride in delivering a quality product to our customers.
								</div>
						</div>
				</div>
				<div class="row section-content">
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">Fre SEO package</h3>
												</div>
												<div class="description">
														<div class="feature-text">We offer free SEO package with every package. We know the importance of SEO and you can take our services if you have a website or blog.</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">No hidden charges</h3>
												</div>
												<div class="description">
														<div class="feature-text">There are no hidden charges. All the prices are clearly displayed and you only pay for us what you get. No extra and hidden charges.</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">Customer support</h3>
												</div>
												<div class="description">
														<div class="feature-text">If you have any doubt, we have 24/7/365 customer online support. You will get your queries answered within minutes and hours.</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">Established brands</h3>
												</div>
												<div class="description">
														<div class="feature-text">We are not someone who has just started. We are a team of 24 experts featured on Examiner, Technocrati and many other famous sites.</div>
												</div>
										</div>
								</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">Inexpensive</h3>
												</div>
												<div class="description">
														<div class="feature-text">We are not someone who has just started. We are a team of 24 experts featured on Examiner, Technocrati and many other famous sites.</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">Results</h3>
												</div>
												<div class="description">
														<div class="feature-text">We start marketing just after 4 hours of placing order. You will see results just after a short span. You order will be completed within the time duration.</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">Free comments</h3>
												</div>
												<div class="description">
														<div class="feature-text">This is how we are different from others. You fans will like and comment on the content you have posted. You will have engagement.</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-lg-3">
								<div class="feature">
										<div class="feature-body">
												<div class="icon">
														<div class="feature-icon text-center">
																<span class="fa fa-picture-o" style="font-size: 150px;"></span>
														</div>
												</div>
												<div class="title">
														<h3 class="feature-title">Secure transaction</h3>
												</div>
												<div class="description">
														<div class="feature-text">We use PayPal and 2Chekout for all type of transactions. It is 100% safe and secure.</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>