<div class="wrapper min-height">
  <!-- Slider Start -->
  {% include 'slider.twig' %}
  <!-- Slider End -->

  <!-- Features block Start -->
  {% include 'features.twig' %}
  <!-- Features block End -->

  <!-- Reviews block Start -->
  {% include 'reviews.twig' %}
  <!-- Reviews block End -->

  <!-- Process block Start -->
  {% include 'process.twig' %}
  <!-- Process block End -->
</div>