<section class="bg-gray-light border-bottom">
		<div class="container">
				<div class="row section-header">
						<div class="col-lg-12">
								<h2 class="text-center">What our customers have to say</h2>
								<div class="section-description">
										If you are hesitant about ordering our services, read what some of our previous clients have said about us.
								</div>
						</div>
				</div>
				<div class="row section-content">
						<div class="col-lg-12">
								<div class="swiper-container text-center">
										<div class="swiper-wrapper">
												<div class="swiper-slide">
														<div class="review-avatar">
																<div class="review-image img-circle" style="background-image: url('http://fc02.deviantart.net/fs70/f/2010/014/b/c/Avatar_by_Eggar919.jpg');"></div>
														</div>
														<div class="review-author">Ivan Ivanov</div>
														<div class="review-rating">
																<span class="fa fa-star"></span>
																<span class="fa fa-star"></span>
																<span class="fa fa-star"></span>
																<span class="fa fa-star-o"></span>
																<span class="fa fa-star-o"></span>
														</div>
														<div class="review-text">
																Their service is incredible. I got the value of my money when they delivered real facebook fans. Fast Response and it is on my budget.
														</div>
												</div>
												<div class="swiper-slide">
														<div class="review-avatar">
																<div class="review-image img-circle" style="background-image: url('https://ichef.bbci.co.uk/news/660/cpsprodpb/E225/production/_93339875_obamalaughing.jpg');"></div>
														</div>
														<div class="review-author">Barack Obama</div>
														<div class="review-rating">
																<span class="fa fa-star"></span>
																<span class="fa fa-star"></span>
																<span class="fa fa-star"></span>
																<span class="fa fa-star"></span>
																<span class="fa fa-star-o"></span>
														</div>
														<div class="review-text">
																One of my friends told me to try your services. I thought to give a try and I am glad.
														</div>
												</div>
										</div>

										<div class="swiper-pagination"></div>
								</div>
						</div>
				</div>
		</div>
</section>