@import "patterns";

html,
body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	/* padding-top: 30px; */
}

// INPUT'S DEFAULT STYLES

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	@extend %active-input;
	outline: none;
}

label {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	color: #6e6c88;
}

Input {
	padding: 8px 12px 8px 12px;
	@extend %normal-input;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
}

Input::placeholder {
    @extend %placeholder-input-normal;
}

Input:hover {
	@extend %focus-input;
}


// CARD 

%card {
	border-radius: 3px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
	border: solid 1px #e5e5e9;
	background-color: #ffffff;
}


// NAVBAR 
.navbar {
	background-color: #ffffff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
	padding-top: 16px;
	padding-bottom: 17px;
}

.nav-link {
	@extend %nav-link;
	margin-right: 25px;
}

.menu-link-container {
	position: relative;
}

.oval {
		width: 16px;
		height: 16px;
    border-radius: 20px;
    padding-top: 2px;
    position: absolute;
		top: 0px;
		right: 15px;
    background-color: #ff5c86;
    font-family: Montserrat;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.navbar-nav a{
	display: flex;
}

.nav-link:hover,
.nav-link:active  {
	color: #312e55 !important;
}

.nav-link:hover svg use,
.nav-link:active svg use {
	fill: #7765d6;
}

.nav-button {
  display: inline-block;
  padding: 8px;
	background-color: #E4E0F7;
	border: 1px solid white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: $purple;
  text-align: center;
  cursor: pointer;
}

.nav-button:hover {
	border: 1px solid $purple;
}


.navbar-toggler {
	margin-left: auto;
	margin-right: 25px;
	display: block;
	background-image: url("https://perfectcdn.com/2e0c8bd3-6875-439f-bf5d-de4721575f93/close.svg");
	width: 40px;
	height: 40px;
	text-decoration: none;
	border: 0px;
	background-color: white;
}


.navbar-toggler.collapsed {
	display: block;
	background-image: url("https://perfectcdn.com/e251c6d3-4523-4072-bd9f-cd7ff63ab03c/burgermenu.svg");
	width: 40px;
	height: 40px;
	text-decoration: none;
	border: 0px;
	background-color: white;
}

.dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #e5e5e9;
	background-color: #ffffff;
	min-width: 0;
	padding: 11px 7px 15px 7px;
	margin-top: 7px;
}

.dropdown-item {
	padding: 4px 16px 4px 8px;
}

.dropdown-menu a,
.dropdown-menu a:hover {
	@extend %placeholder-input-disable;
	display: flex;
}

.dropdown-menu a:last-child {
	@extend %placeholder-input-disable;
	color: #ff5c86;
}

.dropdown-item:hover svg use,
.dropdown-item:active svg use{
	fill: #7765d6;
}

.dropdown-item:active,
.dropdown-item:hover {
	background-color: #E4E0F7;
}

@media screen and (min-width: 992px) {
    .navbar-toggler.collapsed {
        display: none;
		}
		
		.dropdown {
			position: absolute;
			right: 100px;
		}
}

@media screen and (max-width: 991px) {
		.oval {
			position: absolute;
			right: 0px;
			left: 95px;
		}
}

// BUTTONS DEFAULT SETTINGS 

.purple-button {
  @extend %normal-purple-button;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.purple-button:hover {
	@extend %focused-purple-button;
	font-size: 14px;
	  color: #ffffff;
}

.purple-button:active {
	@extend %pressed-purple-button;
}

// TABLE SETTINGS 

 .store-table tbody {
	   border-radius: 3px !important;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
		border: solid 1px #e5e5e9;
		background-color: #ffffff;
 }

.col th {
	padding-top: 8px;
	padding-bottom: 8px; 
	padding-left: 16px; 
}

td, tbody th {
	padding: 16px !important;
}

.col tbody a {
	text-decoration: none;
	color: #6e6c88;
	display: flex;
}

.col tbody a:hover {
	color: #7765d6;
}

.col tbody a:hover svg use {
	fill: #7765d6;
}


// ARROW BUTTON SETTINGS 

.arrow-left-button:hover {
		color: #8672ed;
		text-decoration: none;
}

.arrow-left-button:hover svg use{
	fill: #8672ed;
}

.arrow-left-button:active {
	color: #6857c1;
}

.arrow-left-button:active svg use{
	fill: #6857c1;
}

// STATUS BUTTONS 

.button-status-pending {
	@include status-button;
	background-color: #ffe4c2;

	.button-status-oval {
		@include status-oval;
		background-color: #fd8e03;
	}

	.button-status-text {
		@include status-text;
	}
}

.button-status-active {
	@include status-button;
	background-color: #c6f7cd;

	.button-status-oval {
		@include status-oval;
		background-color: #40c954;
	}

	.button-status-text {
		@include status-text;
	}
}

.button-status-frozen {
	@include status-button;
	background-color: #fcd9d9;

	.button-status-oval {
		@include status-oval;
		background-color: #e94d4d;
	}

	.button-status-text {
		@include status-text;
	}
}

.button-status-cancel {
	@include status-button;
	background-color: #F5F5F7;

	.button-status-oval {
		@include status-oval;
		background-color: #bdbcc8;
	}

	.button-status-text {
		@include status-text;
	}
}


