/* @media (min-width: 993px) .m-header--fixed .m-header {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 993px) .m-header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
  -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@media (min-width: 993px) .m-header .m-header__top {
  padding: 0;
  position: relative;
  z-index: 2;
  height: 90px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

.m-header .m-header__top {
  background: #2c2d3a;
}
.m-header__top {
  display: none;
}
@media (min-width: 993px) .m-page .m-page__container {
  padding: 0 30px;
}
.m-container.m-container--full-height {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.m-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 993px) .m-stack.m-stack--desktop {
  display: table;
  table-layout: fixed;
}
.m-stack {
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 993px) .m-stack.m-stack--desktop.m-stack--ver>.m-stack__item {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.m-stack.m-stack--ver > .m-stack__item {
  display: block;
  height: auto;
}
.m-brand {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 235px;
  padding: 0 30px 0 0;
  background: #2c2d3a;
}
.m-stack.m-stack--general.m-stack--inline {
  width: auto;
}

.m-stack.m-stack--general {
  display: table;
  table-layout: fixed;
}
.m-stack {
  display: block;
  width: 100%;
  height: 100%;
}
.m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle {
  width: 120px;
}

.m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle {
  vertical-align: middle;
}
.m-stack.m-stack--general.m-stack--ver > .m-stack__item {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.m-stack.m-stack--ver > .m-stack__item {
  display: block;
  height: auto;
}
.m-brand .m-brand__logo {
  vertical-align: middle;
  line-height: 0;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper {
  font-size: 16px;
  color: #fff;
}

.m-brand .m-brand__logo .m-brand__logo-wrapper {
  display: inline-block;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle {
  width: 120px;
}

.m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle {
  vertical-align: middle;
}
.m-stack.m-stack--general.m-stack--ver > .m-stack__item {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.m-stack.m-stack--ver > .m-stack__item {
  display: block;
  height: auto;
}
.m-brand .m-brand__tools {
  line-height: 0;
  vertical-align: middle;
  text-align: right;
}
.m-brand .m-brand__tools .m-brand__icon {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  cursor: pointer;
}
.m-brand .m-brand__tools .m-brand__toggler {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 0;
  cursor: pointer;
  background: 0;
  outline: none !important;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.m--visible-desktop,
.m--visible-desktop-inline-block,
.m--visible-desktop-inline,
.m--visible-desktop-table,
.m--visible-desktop-table-cell,
.m--visible-tablet,
.m--visible-tablet-inline-block,
.m--visible-tablet-inline,
.m--visible-tablet-table,
.m--visible-tablet-table-cell,
.m--visible-tablet-and-mobile,
.m--visible-tablet-and-mobile-inline-block,
.m--visible-tablet-and-mobile-inline,
.m--visible-tablet-and-mobile-table,
.m--visible-tablet-and-mobile-table-cell,
.m--visible-mobile,
.m--visible-mobile-inline-block,
.m--visible-mobile-inline,
.m--visible-mobile-table,
.m--visible-mobile-table-cell {
  display: none !important;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.m-brand .m-brand__tools .m-brand__toggler span {
  background: #6c6e86;
}

.m-brand .m-brand__tools .m-brand__toggler span {
  display: block;
  position: absolute;
  top: 12px;
  height: 1px;
  min-height: 1px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (min-width: 993px) .m-header .m-header__bottom {
  height: 60px;
}

@media (min-width: 993px) .m-header .m-header__bottom {
  padding: 0;
  position: relative;
  z-index: 1;
  background: #262734;
  height: 70px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media (min-width: 993px) .m-page .m-page__container {
  padding: 0 30px;
}

.m-container.m-container--full-height {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.m-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 993px) .m-stack.m-stack--desktop {
  display: table;
  table-layout: fixed;
}

.m-stack {
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 993px) .m-stack.m-stack--desktop.m-stack--ver>.m-stack__item.m-stack__item--middle {
  vertical-align: middle;
}

@media (min-width: 993px) .m-stack.m-stack--desktop.m-stack--ver>.m-stack__item.m-stack__item--fluid {
  width: 100%;
}
@media (min-width: 993px) .m-stack.m-stack--desktop.m-stack--ver>.m-stack__item {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.m-stack.m-stack--ver > .m-stack__item {
  display: block;
  height: auto;
}
.m-aside-header-menu-mobile-close {
  display: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
[class*=" la-"] {
  font-size: 1.3rem;
}

.la {
  display: inline-block;
  font: normal normal normal 16px/1 "LineAwesome";
  font-size: inherit;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@media (min-width: 993px) .m-header-menu {
  width: auto;
  margin: 0;
}

@media (min-width: 993px) .m-header-menu {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 0 0 10px;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table-row;
  height: 100%;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item:first-child {
  padding-left: 0;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 0;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link {
  display: table;
  table-layout: fixed;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  height: 100%;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
@media (min-width: 993px) .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #6c6e86;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  font-weight: 400;
  font-size: 1.07rem;
  text-transform: initial;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-text {
  width: auto;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link .m-menu__link-text {
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 0;
  vertical-align: middle;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 0;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link {
  display: table;
  table-layout: fixed;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  height: 100%;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
@media (min-width: 993px) .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #6c6e86;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  font-weight: 400;
  font-size: 1.07rem;
  text-transform: initial;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-text {
  width: auto;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link .m-menu__link-text {
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 0;
  vertical-align: middle;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 0;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link {
  display: table;
  table-layout: fixed;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  height: 100%;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
@media (min-width: 993px) .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text {
  color: #fff;
}

@media (min-width: 993px) .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #6c6e86;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  font-weight: 400;
  font-size: 1.07rem;
  text-transform: initial;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-text {
  width: auto;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link .m-menu__link-text {
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 0;
  vertical-align: middle;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 0;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link {
  display: table;
  table-layout: fixed;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  height: 100%;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
@media (min-width: 993px) .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #6c6e86;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  font-weight: 400;
  font-size: 1.07rem;
  text-transform: initial;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-text {
  width: auto;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link .m-menu__link-text {
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 0;
  vertical-align: middle;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item.m-menu__item--rel {
  position: relative;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item {
  padding: 0 20px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
.mobile-show {
  display: none !important;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item.m-menu__item--more>.m-menu__link {
  text-align: center;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item.m-menu__item--icon-only>.m-menu__link {
  text-align: center;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 0;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link {
  display: table;
  table-layout: fixed;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  height: 100%;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
media
  (min-width: 993px)
  .m-header-menu
  .m-menu__nav
  > .m-menu__item
  > .m-menu__link
  .m-menu__item-here {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item.m-menu__item--more>.m-menu__link {
  text-align: center;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item.m-menu__item--icon-only>.m-menu__link {
  text-align: center;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link {
  display: table;
  table-layout: fixed;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  height: 100%;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}
a {
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
@media (min-width: 993px) .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #6c6e86;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  font-weight: 400;
  font-size: 1.07rem;
  text-transform: initial;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-text {
  width: auto;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link .m-menu__link-text {
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 0;
  vertical-align: middle;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__link .m-menu__ver-arrow {
  display: none;
}

[class^="la-"],
[class*=" la-"] {
  font-size: 1.3rem;
}
.la {
  display: inline-block;
  font: normal normal normal 16px/1 "LineAwesome";
  font-size: inherit;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu.m-menu__submenu--left.m-menu__submenu--pull {
  margin-left: -40px;
}

@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu.m-menu__submenu--left {
  right: auto;
  left: 0;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu {
  width: 275px;
  margin: 0 auto;
  left: auto;
  right: auto;
}
@media (min-width: 993px) .m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
  display: none;
  z-index: 102;
  position: absolute;
  top: 100%;
}
